In [1]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="AarhusUniversitet2019"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000234DBA32518>

In [4]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('classicmodels',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [18]:
# Select Database
mycursor.execute('USE classicmodels')
# query column names from customers table
mycursor.execute("desc customers")

myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('customerNumber', 'int(11)', 'NO', 'PRI', None, '')
('customerName', 'varchar(50)', 'NO', '', None, '')
('contactLastName', 'varchar(50)', 'NO', '', None, '')
('contactFirstName', 'varchar(50)', 'NO', '', None, '')
('phone', 'varchar(50)', 'NO', '', None, '')
('addressLine1', 'varchar(50)', 'NO', '', None, '')
('addressLine2', 'varchar(50)', 'YES', '', None, '')
('city', 'varchar(50)', 'NO', '', None, '')
('state', 'varchar(50)', 'YES', '', None, '')
('postalCode', 'varchar(15)', 'YES', '', None, '')
('country', 'varchar(50)', 'NO', '', None, '')
('salesRepEmployeeNumber', 'int(11)', 'YES', 'MUL', None, '')
('creditLimit', 'decimal(10,2)', 'YES', '', None, '')

In [20]:

mycursor.execute("SELECT customerNumber, addressLine1 FROM customers")

myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(103, '54, rue Royale')
(112, '8489 Strong St.')
(114, '636 St Kilda Road')
(119, '67, rue des Cinquante Otages')
(121, 'Erling Skakkes gate 78')
(124, '5677 Strong St.')
(125, 'ul. Filtrowa 68')
(128, 'Lyonerstr. 34')
(129, '5557 North Pendale Street')
(131, '897 Long Airport Avenue')
(141, 'C/ Moralzarzal, 86')
(144, 'Berguvsvägen  8')
(145, 'Vinbæltet 34')
(146, '2, rue du Commerce')
(148, 'Bronz Sok.')
(151, '4092 Furth Circle')
(157, '7586 Pompton St.')
(161, '9408 Furth Circle')
(166, '106 Linden Road Sandown')
(167, 'Brehmen St. 121')
(168, '149 Spinnaker Dr.')
(169, 'Estrada da saúde n. 58')
(171, '184, chaussée de Tournai')
(172, '265, boulevard Charonne')
(173, '4658 Baden Av.')
(175, '25593 South Bay Ln.')
(177, '1-6-20 Dojima')
(181, '2678 Kingston Rd.')
(186, 'Keskuskatu 45')
(187, 'Fauntleroy Circus')
(189, '25 Maiden Lane')
(198, '16780 Pompton St.')
(201, '12, Berkeley Gardens Blvd')
(202, '1900 Oak St.')
(204, '7635 Spinnaker Dr.')
(205, '78934 Hillside Dr.')
(206, 'Suntec Tower Three')
(209, '24, place Kléber')
(211, 'Bank of China Tower')
(216, 'Rambla de Cataluña, 23')
(219, '4097 Douglas Av.')
(223, 'Taucherstraße 10')
(227, 'Smagsloget 45')
(233, '43 rue St. Laurent')
(237, 'Gran Vía, 1')
(239, '361 Furth Circle')
(240, 'Garden House')
(242, '1 rue Alsace-Lorraine')
(247, 'Magazinweg 7')
(249, 'Via Monte Bianco 34')
(250, '27 rue du Colonel Pierre Avia')
(256, "67, avenue de l'Europe")
(259, 'Mehrheimerstr. 369')
(260, '23 Tsawassen Blvd.')
(273, 'Berliner Platz 43')
(276, '201 Miller Street')
(278, 'Via Ludovico il Moro 22')
(282, 'Monitor Money Building')
(286, '39323 Spinnaker Dr.')
(293, 'Rte des Arsenaux 41 ')
(298, 'Grenzacherweg 237')
(299, 'Drammensveien 126A')
(303, 'Kingsfordweg 151')
(307, 'Obere Str. 57')
(311, 'Torikatu 38')
(314, 'Rue Joseph-Bens 532')
(319, '3758 North Pendale Street')
(320, '4575 Hillside Dr.')
(321, '7734 Strong St.')
(323, '162-164 Grafton Road')
(324, '35 King George')
(328, '7476 Moss Rd.')
(333, '31 Duncan St. West End')
(334, 'Software Engineering Center')
(335, 'Maubelstr. 90')
(339, '782 First Street')
(344, 'Merchants House')
(347, '6047 Douglas Av.')
(348, '8 Johnstown Road')
(350, '12, rue des Bouchers')
(353, "59 rue de l'Abbaye")
(356, '1250 Pretorius Street')
(357, '199 Great North Road')
(361, 'Luisenstr. 48')
(362, '8616 Spinnaker Dr.')
(363, '2304 Long Airport Avenue')
(369, 'Jardim das rosas n. 32')
(376, 'Hauptstr. 29')
(379, '7825 Douglas Av.')
(381, 'Boulevard Tirou, 255')
(382, 'Geislweg 14')
(385, '15 McCallum Street')
(386, 'Strada Provinciale 124')
(398, '2-2-8 Roppongi')
(406, '25, rue Lauriston')
(409, 'Adenauerallee 900')
(412, '101 Lambton Quay')
(415, 'Hansastr. 15')
(424, '5905 Pompton St.')
(443, 'Heerstr. 22')
(447, '2440 Pompton St.')
(448, 'Åkergatan 24')
(450, '3086 Ingle Ln.')
(452, 'Kirchgasse 6')
(455, '567 North Pendale Street')
(456, '5290 North Pendale Street')
(458, 'C/ Araquil, 67')
(459, 'Walserweg 21')
(462, '1785 First Street')
(465, 'c/ Gobelas, 19-1 Urb. La Florida')
(471, '7 Allen Street')
(473, '20093 Cologno Monzese')
(475, '3675 Furth Circle')
(477, 'Forsterstr. 57')
(480, '2 Pobedy Square')
(481, '3 Hagalim Blv.')
(484, 'C/ Romero, 33')
(486, '11328 Douglas Av.')
(487, '2793 Furth Circle')
(489, '120 Hanover Sq.')
(495, '6251 Ingle Ln.')
(496, "Arenales 1938 3'A'")

In [26]:
mycursor.execute("SELECT addressLine1 FROM customers WHERE addressLine1 LIKE '%circle%'")

myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('4092 Furth Circle',)
('9408 Furth Circle',)
('361 Furth Circle',)
('3675 Furth Circle',)
('2793 Furth Circle',)